body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(56, 62, 248),rgb(175, 47, 222));
    /*fonts*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.container{
    min-height:150px;
    width:320px;
    margin-top:100px;
    padding: 10px 15px;
    background-color:white ;
    border-radius:10px;
    position:relative;
}

.title{
    display:flex;
    justify-content:flex-start;
    width:100%;
}

.title_txt{
    font-size:1.3em;
    font-weight: 800;
    margin-right: 20px;
    color: rgb(5, 1, 66);
}

.list_img{
    position: relative;
    top:20px;
    height:30px;
    width:30px;
}

.input_tsk{
    display:inline-block;
    border:1px solid white;
    border-radius:15px;
    width:280px;
    height:40px;
    background-color: rgb(229, 225, 225);
    padding-left:15px;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

div button{
    border:none;
    border-radius: 30px;
    background-color: rgb(58, 58, 248);
    color:white;
    height:43px;
    width:70px;
    position:absolute;
    right:30px;
    font-size: 0.9em;
    font-weight: 500;
    cursor:pointer;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.not_yet{
    width:30px;
    height:30px;
    margin-right: 10px;
}

.tasks{
    margin-top:15px;
    display:block;
}

.tsk.txt{
    display:inline;
}

.circle_cls{
    height:25px;
    width:25px;
    margin-right: 10px;
    cursor: pointer;
}

.delete{
    height:25px;
    width:25px;
    cursor: pointer;
}

.tsk_contain{
    width:100%;
    display:flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.hide{
    display:none;
}

.linethrough{
    text-decoration-line: line-through;
}

.done_img{
    background-image: url(check.png);
    height:25px;
    width:25px;
}

.input_tsk:focus {
    outline: none;
    border: none;
}